name: Integration Testing

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  integration:
    name: Integration testing
    permissions:
      contents: read
    runs-on: ubuntu-latest
    services:
      mysql:
        image: mariadb:latest
        ports:
          - '3306:3306'
        env:
          MYSQL_ROOT_PASSWORD: wordpress
          MARIADB_INITDB_SKIP_TZINFO: 1
          MYSQL_USER: wordpress
          MYSQL_PASSWORD: wordpress
          MYSQL_DATABASE: wordpress_test
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            api.wordpress.org:80
            archive.ubuntu.com:80
            azure.archive.ubuntu.com:80
            cdn.fwupd.org:443
            develop.svn.wordpress.org:443
            dl.cloudsmith.io:443
            esm.ubuntu.com:443
            esm.ubuntu.com:80
            github.com:443
            motd.ubuntu.com:80
            objects.githubusercontent.com:443
            packages.microsoft.com:443
            packages.microsoft.com:80
            packagist.org:443
            plugins.svn.wordpress.org:443
            ppa.launchpad.net:80
            ppa.launchpadcontent.net:80
            release-assets.githubusercontent.com:443
            security.ubuntu.com:80
            setup-php.com:443
            wordpress.org:443

      - name: Install subversion
        run: sudo apt-get update && sudo apt-get -y install subversion

      - name: Check out the source code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Set up PHP
        uses: shivammathur/setup-php@0f7f1d08e3e32076e51cae65eb0b0c871405b16e # 2.34.1
        with:
          coverage: none
          php-version: "8.3"

      - name: Install PHP Dependencies
        uses: ramsey/composer-install@3cf229dc2919194e9e36783941438d17239e8520 # 3.1.1
        with:
          working-directory: wptest

      - name: Set up WordPress and WordPress Test Library
        uses: ./
        with:
          version: latest

      - name: Verify MariaDB connection
        run: |
          while ! mysqladmin ping -h 127.0.0.1 -P ${{ job.services.mysql.ports[3306] }} --silent; do
            sleep 1
          done
        timeout-minutes: 1

      - name: Run tests
        run: vendor/bin/phpunit
        working-directory: wptest

      - name: Set up WordPress and WordPress Test Library (from the tool cache)
        uses: ./
        with:
          version: latest

      - name: Rerun tests
        run: vendor/bin/phpunit
        working-directory: wptest
