name: Integration Testing

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  integration:
    name: Integration testing
    permissions:
      contents: read
    runs-on: ubuntu-latest
    services:
      mysql:
        image: mariadb:latest
        ports:
          - '3306:3306'
        env:
          MYSQL_ROOT_PASSWORD: wordpress
          MARIADB_INITDB_SKIP_TZINFO: 1
          MYSQL_USER: wordpress
          MYSQL_PASSWORD: wordpress
          MYSQL_DATABASE: wordpress_test
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5c7944e73c4c2a096b17a9cb74d65b6c2bbafbde # v2.9.1
        with:
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            api.wordpress.org:80
            api.wordpress.org:443
            wordpress.org:443
            develop.svn.wordpress.org:443
            plugins.svn.wordpress.org:443
            github.com:443
            objects.githubusercontent.com:443
            packagist.org:443

      - name: Check out the source code
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7

      - name: Set up PHP
        uses: shivammathur/setup-php@c541c155eee45413f5b09a52248675b1a2575231 # 2.31.1
        with:
          coverage: none
          php-version: "8.2"

      - name: Install PHP Dependencies
        uses: ramsey/composer-install@57532f8be5bda426838819c5ee9afb8af389d51a # 3.0.0
        with:
          working-directory: wptest

      - name: Set up WordPress and WordPress Test Library
        uses: ./
        with:
          version: latest

      - name: Verify MariaDB connection
        run: |
          while ! mysqladmin ping -h 127.0.0.1 -P ${{ job.services.mysql.ports[3306] }} --silent; do
            sleep 1
          done
        timeout-minutes: 1

      - name: Run tests
        run: vendor/bin/phpunit
        working-directory: wptest

      - name: Set up WordPress and WordPress Test Library (from the tool cache)
        uses: ./
        with:
          version: latest

      - name: Rerun tests
        run: vendor/bin/phpunit
        working-directory: wptest
