name: 'Build and Test'

on:
  push:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          disable-sudo: true
          disable-file-monitoring: true
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            github.com:443
            nodejs.org:443
            registry.npmjs.org:443

      - name: Check out the source code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup Node.js environment
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: package.json
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run all

  test:
    name: Test
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: block
          allowed-endpoints: >
            api.wordpress.org:80
            api.wordpress.org:443
            archive.ubuntu.com:80
            azure.archive.ubuntu.com:80
            cdn.fwupd.org:443
            esm.ubuntu.com:443
            esm.ubuntu.com:80
            motd.ubuntu.com:80
            packages.microsoft.com:443
            packages.microsoft.com:80
            ppa.launchpad.net:80
            ppa.launchpadcontent.net:80
            security.ubuntu.com:80
            wordpress.org:443
            develop.svn.wordpress.org:443
            plugins.svn.wordpress.org:443
            github.com:443

      - name: Install subversion
        run: sudo apt-get update && sudo apt-get -y install subversion

      - name: Check out the source code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up WordPress and WordPress Test Library
        uses: ./
        with:
          version: latest
          dir: /tmp

      - name: Verify
        run: |
          test -e /tmp/wordpress
          test -e /tmp/wordpress-tests-lib
          test -f /tmp/wordpress-tests-lib/wp-tests-config.php

  check-dist:
    name: Check dist
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          disable-sudo: true
          disable-file-monitoring: true
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            github.com:443
            nodejs.org:443
            registry.npmjs.org:443

      - name: Check out the source code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          token: ${{ secrets.REPOSITORY_ACCESS_TOKEN }}

      - name: Setup Node.js environment
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: package.json
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Rebuild the dist/ directory
        run: npm run build && npm run package

      - name: Check the diff
        run: |
          if [ "$(git diff --ignore-space-at-eol dist/ | wc -l)" -gt "0" ]; then
            echo "::warning::There are changes in the built files."
            if [ "${COMMITTER_EMAIL}" != "actions@github.com" ]; then
              git config user.name "GitHub Actions"
              git config user.email actions@github.com
              git config push.default "current"
              git add dist/
              git commit -m "chore: regenerate dist"
              git push
            else
              echo "::error::Aborting to avoid the loop."
              exit 1
            fi
          fi
        env:
          COMMITTER_EMAIL: ${{ github.event.head_commit.committer.email }}
